@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(241 245 249);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(226 232 240);
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(148 163 184);
  }
}
